.title {
    display: flex;
}

.title form {
    display: block;
    padding: calc((90.88px - 26px) / 2);
    margin-left: 20px;
}

.container-table {
    position: relative;
}

.days {
    position: absolute;
    left: 50px;
    display: flex;
    text-align: center;
    width: calc((100 + 0.5 * 2) * 6);
}

.days p {
    display: block;
    padding-left: calc((101px - 16px) / 2);
    padding-right: calc((101px - 16px) / 2);
}

.container-grid {
    position: absolute;
    display: flex;
    top: 56px;
    width: calc(50px + (100px + 0.5px * 2) * 5);
}

.times {
    display: block;
    text-align: center;
    width: 50px;
    height: calc((100 + 0.5 * 2) * 6);
}

.times p {
    display: block;
    margin: 0;
    padding-top: calc((100px + 0.5px * 2 - 24px) / 2);
    padding-bottom: calc((100px + 0.5px * 2 - 24px) / 2);
}

.grid-area {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(6, 1fr);
}

.item {
    border: 0.5px solid black;
    width: 100px;
    height: 100px;
    padding: auto 0;
}

.item p {
    text-align: center;
    margin: 0;
    padding: 5px;
}

.item .subject {
    font-size: 20px;
}
.item .teacher,
.item .place {
    font-size: 12px;
}