body {
    background-color: #fefaec;
}

.header-banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    height: 40px;
    border: 0.5px solid #fefaec;
    box-shadow: 2px 2px 2px 2px #bbb;
    border-radius: 10px;
    background-color: #fefaec;
}

.logo {
    display: flex;
}

.logo img {
    margin: auto 10px;
    height: 36px;
    width: 36px;
}

.logo p {
    color: #625772;
    font-size: 18px;
    font-weight: bold;
}


.nav-wrapper {
    display: block;
}

.header-menu {
    list-style: none;
    width: 100%;
    height: 100%;
    padding: 10px;
    display: flex;
}

.header-menu > .menus {
    margin: 0 10px;
    padding: 0 5px;
    position: relative;
    display: block;
    z-index: 2;
}

.header-banner .menus .menu-title {
    display: block;
    margin: 0;
    text-align: center;
    color: #625772;
    font-weight: bold;
    font-size: 16px;
}

.header-banner .menus ul {
    visibility: hidden;
    width: 100%;
    list-style: none;
    position: absolute;
    top: 100%;
    left: -1px;
    margin: 0;
    padding: 0;
    border: 0.5px solid #dbd7c9;
    border-radius: 5px;
    border-top: none;
}

.header-banner .menus:hover ul {
    visibility: visible;
}

.header-banner .menus ul li {
    display: block;
    font-size: 14px;
    padding: 10px;
    background-color: #fefaec;
    transition: all .2s ease;
    text-align: center;
}

.header-banner .menus:hover {
    border: 0.5px solid #dbd7c9;
    background: #dbd7c9;
    cursor: pointer;
}

.header-banner .menus:hover ul li:hover {
    background: #dbd7c9;
    border-radius: 5px;
    cursor: pointer;
}

.menus img {
    display: block;
    height: 30px;
    width: 30px;
}

.main-contents {
    display: block;
    width: 95vw;
    margin: 10px auto;
    padding: 10px;
}