.class_info,
.result_window {
    margin: 1em;
    display: flex;
}

.class_info p {
    display: block;
    margin: 0 1em;
}

.result_window .before,
.result_window .after {
    margin: 0 1em;
}

.result_window .arrow {
    margin: auto 1em;
}

